
:root {
  --primary-color: #000000;
  --secondary-color: #f3f4f6;
  --accent-color: #6366f1;
}

/* Augment the Tailwind primary, secondary, and accent colors with our variables */
.bg-primary-custom {
  background-color: var(--primary-color);
}

.text-primary-custom {
  color: var(--primary-color);
}

.border-primary-custom {
  border-color: var(--primary-color);
}

.bg-secondary-custom {
  background-color: var(--secondary-color);
}

.text-secondary-custom {
  color: var(--secondary-color);
}

.border-secondary-custom {
  border-color: var(--secondary-color);
}

.bg-accent-custom {
  background-color: var(--accent-color);
}

.text-accent-custom {
  color: var(--accent-color);
}

.border-accent-custom {
  border-color: var(--accent-color);
}
